{% extends "dashboard_layout.html" %}
<!-- Template inheritance -->

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dashboard_css/dashboard_form.css') }}">
{% endblock %}

<!-- Nav link block -->
{% block dashboardNavLink %}
  <li><a href="{{ url_for('dashboard_main') }}"> <i class="icon-home"></i>Home </a></li>
  <li class="active"><a href="{{ url_for('dashboard_psychoTest') }}"> <i class="icon-padnote"></i>Psycho Test </a></li>
  <li><a href="{{ url_for('dashboard_academics') }}"><i class="fa fa-bar-chart"></i>Academics </a></li>
  <li><a href="{{ url_for('dashboard_carrer') }}"><i class="fa fa-bar-chart"></i>Carrer </a></li>
  <li><a href="{{ url_for('dashboard_community') }}"> <i class="icon-padnote"></i>Community </a></li>
  <li ><a href="{{ url_for('dashboard_profile') }}"> <i class="icon-user"></i>Profile </a></li>
{% endblock %}


{% block content %}

<div class="page-content">
  <div class="page-header no-margin-bottom">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Psycho Test</h2>
    </div>
  </div>
<!-- Breadcrumb-->
<div class="container-fluid">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="dashboard.html">Home</a></li>
    <li class="breadcrumb-item active">Psycho Test</li>
  </ul
</div>

<!-- Body Section -->
<section class="no-padding-top">
 <div class="container-fluid">
   <div class="row">
<!-- Question 1 -->
{% for i in questions %}
<div class="col-lg-12">
    <div class="block">
     <div class="block-body">
      <form action='/dashboard_psychoTest' method='POST'>
        <div class="form-group">
          <div class="title"><strong class="d-block">{{i}}</strong></div>
          {% for j in questions[i] %}
          <div class="form-group row">
          <div class="col-sm-9">
           <div class="i-checks-inline" >
            <input id="radioCustom1" type="radio" value="{{j}}" name="{{i}}" class="radio-template">
            <label for="radioCustom1"value="option1" name="a"></label>{{j}}
           </div>
         </div>
        </div>
        {% endfor %}
      </div>
  </div>
  </div>
  </div>
  {% endfor %}

<!-- Question 1 End-->
<!-- Submit Button -->
  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary">
  </div>

</form>
<!-- Submit Button End-->
   </div>
  </div>
</section>
</div>
{% endblock %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
