{% extends "dashboard_layout.html" %}
<!-- Template inheritance -->

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %}

<!-- Nav link block -->
{% block dashboardNavLink %}
  <li class="active"><a href="{{ url_for('dashboard_main') }}"> <i class="icon-home"></i>Home </a></li>
  <li><a href="{{ url_for('dashboard_psychoTest') }}"> <i class="icon-padnote"></i>Psycho Test </a></li>
  <li><a href="{{ url_for('dashboard_academics') }}"><i class="fa fa-bar-chart"></i>Academics </a></li>
  <li><a href="{{ url_for('dashboard_carrer') }}"><i class="fa fa-bar-chart"></i>Carrer </a></li>
  <li><a href="{{ url_for('dashboard_community') }}"> <i class="icon-padnote"></i>Community </a></li>
  <li><a href="{{ url_for('dashboard_profile') }}"> <i class="icon-user"></i>Profile </a></li>
{% endblock %}


{% block content %}

<div class="page-content">
  <div class="page-header no-margin-bottom">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Home</h2>
    </div>
  </div>
  <div class="container-fluid">
    <h1 class="font-weight-bold", style="color:white;">Welcome.. {{ current_user.name }}</h1>
    <div class="col-6">
      {% for id in ids %}
      <div id="{{id}}"></div>
      {% endfor %}
  </div>
    <p class="font-italic text-muted mb-4">  </p>


  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
              <div class="chart" id="bargraph">
                <script type="text/javascript">
                  var graphs = {{plot | safe}};
                  var ids = {{ids | safe}};
                  for(var i in graphs) {
                      Plotly.plot(ids[i], // the ID of the div, created above
                          graphs[i].data,
                          graphs[i].layout || {});
                  }
              </script>
            </div>
            </div>
        </div>
    </div>

  </div>
</div>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
